*
{
    font-family: sans-serif;
    text-decoration: none;
}

body
{
    background-color: #111;
    margin: 0;
    text-align: center;
}

.containerTit
{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
}

h1
{
    color: #fff;
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 3px rgb(122, 7, 7);
}