*
{
    font-family: sans-serif;
    text-decoration: none;
}

body
{
    background-color: #111;
}

h1
{
    color: #fff;
    width: 20%;
    margin: auto;
    padding: 20px;
    text-align: center;
}
