*
{
    font-family: sans-serif;
    text-decoration: none;
}

body
{
    background-color: #111;
    margin: 0;
    text-align: center;
}

.hidden
{
    display: none !important;
    visibility: hidden !important;
}

.blue-bar
{
    box-sizing: border-box;
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 6em;
    background-color: #00f;
    justify-content: center;
}

.logo
{
    float: left;
    background-color: transparent;
    width: 5em;
    height: 5em;
    background-color: red;
}

.button-blue-bar
{
    float: right;
    width: 50px;
    height: 50px;
}